<h2>Select Playlist</h2>
<form method="get" action="<?php echo ConfigUtility::getConfig()->getBaseUrl(); ?>">
	<input type="hidden" name="step" value="select-artists" />
	<select name="playlist">
        <?php foreach($playlists as $playlist) { ?>
			<option value="<?php echo $playlist['id']; ?>">
                <?php echo $playlist['name']; ?>
			</option>
        <?php } ?>
	</select>

	<button>Next</button>
</form>