<h2>Select Artists</h2>
<form method="post" action="<?php echo ConfigUtility::getConfig()->getBaseUrl(); ?>">
	<input type="hidden" name="step" value="create-playlist" />
	<input type="text" name="playlist-name" placeholder="Playlistname" required="required" 	/> <br />
	<br />
	<button>Create Playlist</button>
	<br />
	<br />
	<?php foreach($artists as $artist) { ?>
		<label name="<?php echo $artist['artist']['name']; ?>">
			<input type="checkbox" name="tracks[]"
				   id="<?php echo $artist['artist']['name']; ?>"
				   value="<?php echo implode(',', $artist['tracks']); ?>"> <?php echo $artist['artist']['name']; ?>
		</label>
		<br />
	<?php } ?>
	<br />
	<button>Create Playlist</button>
</form>